soap/client/src/main/java/itmo/webservices/CameraService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.itmo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.itmo/" name="CameraService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.itmo/" schemaLocation="http://localhost:8080/CameraService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="updateCamera">
<part name="parameters" element="tns:updateCamera"></part>
</message>
<message name="updateCameraResponse">
<part name="parameters" element="tns:updateCameraResponse"></part>
</message>
<message name="findCameras">
<part name="parameters" element="tns:findCameras"></part>
</message>
<message name="findCamerasResponse">
<part name="parameters" element="tns:findCamerasResponse"></part>
</message>
<message name="deleteCamera">
<part name="parameters" element="tns:deleteCamera"></part>
</message>
<message name="deleteCameraResponse">
<part name="parameters" element="tns:deleteCameraResponse"></part>
</message>
<message name="createCamera">
<part name="parameters" element="tns:createCamera"></part>
</message>
<message name="createCameraResponse">
<part name="parameters" element="tns:createCameraResponse"></part>
</message>
<portType name="CameraWebService">
<operation name="updateCamera">
<input wsam:Action="http://webservices.itmo/CameraWebService/updateCameraRequest" message="tns:updateCamera"></input>
<output wsam:Action="http://webservices.itmo/CameraWebService/updateCameraResponse" message="tns:updateCameraResponse"></output>
</operation>
<operation name="findCameras">
<input wsam:Action="http://webservices.itmo/CameraWebService/findCamerasRequest" message="tns:findCameras"></input>
<output wsam:Action="http://webservices.itmo/CameraWebService/findCamerasResponse" message="tns:findCamerasResponse"></output>
</operation>
<operation name="deleteCamera">
<input wsam:Action="http://webservices.itmo/CameraWebService/deleteCameraRequest" message="tns:deleteCamera"></input>
<output wsam:Action="http://webservices.itmo/CameraWebService/deleteCameraResponse" message="tns:deleteCameraResponse"></output>
</operation>
<operation name="createCamera">
<input wsam:Action="http://webservices.itmo/CameraWebService/createCameraRequest" message="tns:createCamera"></input>
<output wsam:Action="http://webservices.itmo/CameraWebService/createCameraResponse" message="tns:createCameraResponse"></output>
</operation>
</portType>
<binding name="CameraWebServicePortBinding" type="tns:CameraWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="updateCamera">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findCameras">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteCamera">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCamera">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CameraService">
<port name="CameraWebServicePort" binding="tns:CameraWebServicePortBinding">
<soap:address location="http://localhost:8080/CameraService"></soap:address>
</port>
</service>
</definitions>